Window Service/PhotoCtmService/PhotoCtmService/Service References/PhotoCtmDownload/utl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="geturlandphotoidtable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geturlandphotoidtableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="geturlandphotoidtableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="geturlandphotoidtableSoapIn">
    <wsdl:part name="parameters" element="tns:geturlandphotoidtable" />
  </wsdl:message>
  <wsdl:message name="geturlandphotoidtableSoapOut">
    <wsdl:part name="parameters" element="tns:geturlandphotoidtableResponse" />
  </wsdl:message>
  <wsdl:portType name="utlSoap">
    <wsdl:operation name="geturlandphotoidtable">
      <wsdl:input message="tns:geturlandphotoidtableSoapIn" />
      <wsdl:output message="tns:geturlandphotoidtableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="utlSoap" type="tns:utlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geturlandphotoidtable">
      <soap:operation soapAction="http://tempuri.org/geturlandphotoidtable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="utlSoap12" type="tns:utlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geturlandphotoidtable">
      <soap12:operation soapAction="http://tempuri.org/geturlandphotoidtable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="utl">
    <wsdl:port name="utlSoap" binding="tns:utlSoap">
      <soap:address location="http://www.photoctm.com/websvwinstore/utl.asmx" />
    </wsdl:port>
    <wsdl:port name="utlSoap12" binding="tns:utlSoap12">
      <soap12:address location="http://www.photoctm.com/websvwinstore/utl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>